name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Create Release Zip
      run: |
        zip -r release.zip . -x ".git/*" ".github/*" "test/*" "tests/*" "node_modules/*"
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: release.zip
        generate_release_notes: true
